BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "EOC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CONVST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RD" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SHDN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "WR" IO_TYPE=LVCMOS33 ;
IOBUF PORT "force_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DB[15]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "DB[0]" SITE "A3" ;
